body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 20px;
    background: #f3f3f3;
}

/* List */

ul {
    list-style: none;
}

.floors li {
    background: #fff;
    width: 300px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
}

#row > div{
    float: left;
}

#elevator {
    background: #000000;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    position: relative;
    top: 240px;
}

#doors {
    background: #FFFFFF;
    height: 30px;
    width: 15px;
    margin-left: 18px;
    position: relative;
    top: -15px;
    text-color: #FFFFFF;
}

#doors > p {
    color: #FFFFFF;
}

#controls {
    position: relative;
    top: 240px;
}

.active {
    background: #00FF00;
}
